  body{
    background-color:#fff5ea;
  }

  h1{
    color: #8785a2;
    letter-spacing: 3px;
  }

  h3{
    color: #ffc7c7;
    letter-spacing: 5px;
}

  hr{
    border-style:none;
    border-top-style:dotted;
    border-color: #ffe2e2;
    border-width: 10px;
    width: 5%;
  }
